<template>
  <v-card class="mx-auto">
    <v-img :src="'upload/' + game.cover" height="100" class="white--text" v-if="game.cover">
      <v-card-title class="align-end fill-height">{{game.text}}</v-card-title>
    </v-img>

    <v-card-title v-else>{{game.text}}</v-card-title>

    <v-card-text>
      <div v-show="game.fileshare">
        Get it:
        <v-list>
          <v-list-item>
            <share :value="game.fileshare"></share>
          </v-list-item>
        </v-list>
      </div>
    </v-card-text>

    <v-card-actions>
      <v-btn icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>mdi-share</v-icon>
      </v-btn>
      <!--
      <v-spacer></v-spacer>
      <v-btn color="green" class="white--text">
        <v-icon>mdi-poll</v-icon>&nbsp;Start Poll
      </v-btn>
      -->
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import Share from './Share.vue';
import { IGame } from '../types/Game';

@Component({
  components: {
    Share,
  },
})

export default class Game extends Vue {
  @Prop()
  private game!: IGame;

  private mounted() {
    // this.game = 'jo';
  }
}
</script>

<style scoped>
.v-card__title.align-end.fill-height {
  text-shadow: 2px 1px 2px black;
}
</style>