<template>
  <div class="container">
    <h1 class="red--text">Games</h1>

    <p class="error" v-if="error">{{ error }}</p>
    <v-row class="games-container">
      <v-col
        lg="4"
        class="game"
        v-for="game in games"
        :key="game._id"
        @dblclick="deleteGame(game._id)"
      >
        <!-- {{ `${game.text} ${game.createdAt.getDate()}.${game.createdAt.getMonth()}.${game.createdAt.getFullYear()} ${game.fileshare}`}} -->

        <game-component :game="game"></game-component>
      </v-col>
    </v-row>

    <v-card class="create-game mt-4">
      <v-card-title>Add a new game</v-card-title>
      <v-card-text>
        <v-form v-model="formData">
          <v-text-field label="Title" v-model="text"></v-text-field>
          <v-text-field label="Source" v-model="fileshare"></v-text-field>
          <v-file-input label="Cover" v-model="cover" accept="image/*" prepend-icon="mdi-image"></v-file-input>
        </v-form>
      </v-card-text>

      <v-card-actions>
        <v-btn @click="createGame">Save</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { GameService } from '@/GameService';
import GameComponent from './Game.vue';
import { IGame } from '@/types/Game';

@Component({
  components: {
    GameComponent,
  },
})

export default class GamePageComponent extends Vue {

  public games: IGame[] = [];

  private cover: File = new File([], '');
  private error: string = '';
  private text: string = '';
  private fileshare: string = '';
  private formData: boolean = true;

  private async created() {
    try {
      this.games = await GameService.getGames();
    } catch (err) {
      this.error = err.message;
    }
  }


  private async createGame() {
    const formData = new FormData();
    formData.append('file', this.cover);
    formData.append('text', this.text);
    formData.append('fileshare', this.fileshare);
    const file = ''; // await this.fileToBase64();

    await GameService.insertGame(formData); // this.text, this.fileshare, file);
    this.games = await GameService.getGames();
  }

  private async deleteGame(id: string) {
    //return;
    await GameService.deleteGame(id);
    this.games = await GameService.getGames();
  }

  private async fileToBase64() {
    const cover = this.cover;
    return new Promise((resolve) => {
      const reader = new FileReader();
      reader.readAsDataURL(cover);
      reader.onload = () => resolve(reader.result);
    });
  }
}
</script>
