<template>
  <v-navigation-drawer permanent>
    <v-list-item v-if="false">
      <v-list-item-content>
        <v-list-item-title class="title">Application</v-list-item-title>
        <v-list-item-subtitle>subtext</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

    <v-divider></v-divider>

    <v-list dense nav shaped>
      <v-list-item v-for="item in items" :key="item.title" link :to="item.route">
        <v-list-item-icon>
          <v-icon :color="item.color">{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title :class="item.color + '--text'">{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Navigation extends Vue {

  public showMenu: boolean = false;

  public data() {
    return {
      items: [
        { title: 'Dashboard', route: '/', color: 'primary', icon: 'mdi-view-dashboard' },
        { title: 'Profile', route: 'profile', color: 'purple', icon: 'mdi-account' },
        { title: 'Polls', route: 'polls', color: 'green', icon: 'mdi-poll' },
        { title: 'Games', route: 'games', color: 'red', icon: 'mdi-gamepad-square' },
        { title: 'About', route: 'about', icon: 'mdi-help-box' },
      ],
      right: null,
    };
  }

  public toggleMenu(): void {
    this.showMenu = !this.showMenu;
  }

}

</script>