<template>
  <v-flex>
    <h1 class="purple--text">Change Profile</h1>

    <v-text-field label="Nickname" v-model="nickname"></v-text-field>

    <v-btn>Save</v-btn>
  </v-flex>
</template>

<script>
export default {

  data() {
    return {
      ip: '',
      nickname: '',
    };
  },

  computed: {
    userAgent() {
      return navigator.userAgent;
    },
  },

  async created() {
    window.RTCPeerConnection = window.RTCPeerConnection
      || window.mozRTCPeerConnection
      || window.webkitRTCPeerConnection;

    const pc = new RTCPeerConnection({ iceServers: [] });
    const noop = () => { return; };

    pc.createDataChannel('');
    pc.createOffer(pc.setLocalDescription.bind(pc), noop);
    pc.onicecandidate = (ice) => {
      if (!ice || !ice.candidate || !ice.candidate.candidate) { return; }

      const myIP = /(udp \d+ )(\S+) /i.exec(ice.candidate.candidate);
      if (myIP) {
        this.ip = myIP[2];
      }
    };
  },
};
</script>