<template>
  <span>
    {{value}}
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-btn @click="copyToClipboard(this)" icon v-on="on">
          <v-icon>mdi-clipboard-check</v-icon>
        </v-btn>
        <input v-show="showInput" type="text" readonly :value="value" />
      </template>
      Copy to Clipboard
    </v-tooltip>
  </span>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';

@Component
export default class Share extends Vue {
  @Prop()
  private value!: string;
  private showInput: boolean = false;

  private async copyToClipboard(text: string) {
    this.showInput = true;

    this.$nextTick(() => {
      const elem = this.$el.querySelector('input[type="text"]') as HTMLInputElement;
      elem.select();
      document.execCommand('copy');
      this.showInput = false;
    });

  }
}
</script>