<template>
  <v-app-bar app>
    <v-app-bar-nav-icon></v-app-bar-nav-icon>

    <v-toolbar-title>LAN Manager</v-toolbar-title>
  </v-app-bar>
  <!--
  <v-card
    color="grey lighten-4"
    flat
    height="200px"
    tile
  >
    <v-toolbar dense>
      <v-app-bar-nav-icon></v-app-bar-nav-icon>

      <v-toolbar-title>Title</v-toolbar-title>

      <div class="flex-grow-1"></div>

      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </v-toolbar>

    <v-btn>Click</v-btn>
  </v-card>
  -->
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class TopToolbar extends Vue {

  public showMenu: boolean = false;

  public toggleMenu(): void {
    this.showMenu = !this.showMenu;
  }

}
</script>