<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>LAN</span>
        <span class="font-weight-light">Manager</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn text href="https://gitlab.com/fbaldauf/lan-manager/-/releases" target="_blank">
        <span class="mr-2">Latest Release</span>
      </v-btn>
    </v-app-bar>

    <v-content>
      <v-layout row fill-height>
        <Navigation></Navigation>

        <!-- Content -->
        <router-view class="pa-2 main"></router-view>
      </v-layout>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import Navigation from './components/Navigation.vue';

export default Vue.extend({
  name: 'App',
  components: {
    Navigation,
  },
  data: () => ({
    //
  }),
});
</script>
<style scoped>
.main {
  max-width: calc(100vw - 276px);
}
</style>
